html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

.calendar-page{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.row-space{
  flex-grow: 1;
}

.calendar-content{
  display: flex;
  flex-direction: row;
}

.col-space{
  flex-grow: 1;
}

.calendar{
  flex-basis: 700px;
}

.calendar-table{
  /* border: 1px solid black; */
  box-sizing: border-box;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.date {
  text-align: center;
  box-sizing: border-box;
  height: 40px;
}

.date-header{
  box-sizing: border-box;
  height: 50px;
}

.cal-header{
  box-sizing: border-box;
  height: 50px;
}

.cal-header button{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 45%;
  background-color: #E9FFFF;
  border: 1px solid #E9FFFF;
}

.calendar-table tr:nth-child(1){
  background-color: #E9FFFF;
  border-bottom: 1px solid #fff;
}

.calendar-table tr:nth-child(2){
  background-color: #B0FFFF;
}

.calendar-table tr:nth-child(2n + 4){
  background-color: #D2FFFF;
}

.sun, .sat{
  color: #FF4500;
}

.today{
  background-color: #0FF;
}
