@use './_variables' as *;

.calendar-outer{
	display: inline-block;
	flex: 2;
	padding: 3rem;
	margin: 5rem;
}

.calendar{
	box-sizing: border-box;
	border: 1px solid white;
	margin: 5rem auto;
	line-height: 3rem;
	border-radius: $border-radius;
}

.date, .day-heading, .month-heading{
	box-sizing: content-box;
	padding: 1rem;
	border: 1px solid white;
}

.date, .day-heading{
	width: 10rem;
}

.current-date{
	background-color: rgba(255, 255, 255, 0.2);
}

.date:first-child,
.day-heading:first-child,
.holiday{
	color: $sunday-color;
}

.month-heading{
	padding: 2rem 1rem;
}

.day-heading{
	padding: 2rem 2rem;
}

.month-heading:first-child{
	border-top-left-radius: $border-radius;
}

.month-heading:last-child{
	border-top-right-radius: $border-radius;
}

.week:last-child > .date:first-child{
	border-bottom-left-radius: $border-radius;
}

.week:last-child > .date:last-child {
	border-bottom-right-radius: $border-radius;
}

.month-heading div{
	display: flex;
}

.month-heading a,
.month-heading a:visited{
	color: white;
	flex: 1;
}

.month-heading a:hover{
	color: rgba(255, 255, 255, 0.5);
}

.selected {
	background-color: rgba(255, 126, 126, 0.2);
}
