.calendar{
	border: 1px solid white;
	line-height: 3rem;
}

.date, .day-heading{
	box-sizing: content-box;
	padding: 1rem;
	border: 1px solid white;
}

.date:first-child,
.day-heading:first-child{
	color: red;
}
