@use './_variables' as *;

$input-background-color: rgba($primary-color, 0.05);


$normal-background-color: rgba($primary-color, 0.2);
$focused-background-color: rgba($primary-color, 0.1);
$active-background-color:  rgba($primary-color, 0.05);

$normal-link-color: rgba($primary-color, 0.8);
$focused-link-color: rgba($primary-color, 0.6);
$active-background-color:  rgba($primary-color, 0.4);

.login{
	display: flex;
	flex-direction: column;

	box-sizing: border-box;
	margin: 10rem auto;
	width: 30vw;

	font-size: $heading3-font-size;
	line-height: $heading1-font-size;

	label,
	input{
		display: block;
	}

	label{
		width: 100%;
		font-size: $tiny-paragraph-font-size;
	}

	input{
		border: 1px solid $input-background-color;
		border-radius: $border-radius;
		padding: $border-radius;
		width: 100%;
		background-color: $input-background-color;

		font-size: $heading3-font-size;
		color: $primary-color;
	}

	.buttons{
		display: flex;
		flex-direction: row;
	}

	button{
		flex: 1;

		border: 1px solid $normal-background-color;
		outline: 0;
		border-radius: $border-radius;
		padding: $border-radius;
		margin: 0 $border-radius;
		background-color: $normal-background-color;

		font-size: $heading3-font-size;
		color: $primary-color;
	}

	button:hover,
	button:focus,
	button::-moz-focus-inner{
		background-color: $focused-background-color;
		outline: 0;
	}

	button:active{
		background-color: $active-background-color;
		outline: 0;
	}
}

.element{
	display: inline-block;
	margin: 1rem 0;
	text-align: left;
}

.nav{
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: $input-background-color;
	text-align:left;

	.brand{
		flex: 1;

		display: inline-block;
		padding: 1rem;

		font-weight: 600;
		font-size: $heading1-font-size;
		line-height: $heading1-font-size;
	}

	.logout{
		padding: 1rem;

		text-decoration: none;
		font-size: $paragraph-font-size;
		line-height: $heading1-font-size;
		color: $normal-link-color;
	}

	.logout:hover{

	}
}
