@use './_variables' as *;

.details{
	text-align: left;
	width: 30%;
	display: inline-block;
	flex: 1;
	box-sizing: border-box;
	margin: 15rem 0;
	padding: 2rem 2rem;
	border-left: 1px solid $primary-color;
	line-height: 3rem;
}

.details p{
	margin-top: 1rem;
	font-size: 2rem;
	line-height: 2.3rem;
}
