@use './_variables' as *;

.details{
	box-sizing: border-box;
	margin: 1rem;
	padding-left: 1rem;
	border-right: 1px solid $primary-color;

	text-align: left;
	// line-height: 3rem;
}

.details p{
	margin-top: 1rem;
	font-size: 2rem;
	line-height: 2.3rem;
}
