@use './_variables' as *;

$input_background-color: rgba($primary-color, 0.2);

.notes-component{
	flex: 1;
	display: block;

	box-sizing: border-box;
	margin: 5rem auto;
}

.notes{
	font-size: $heading3-font-size;
	line-height: $heading3-font-size;

	.add{
		display: inline-block;
		width: 80%;
		margin: 0 auto;
		text-align: left;
	}

	.button{

		box-sizing: border-box;
		margin: 0;
		padding: 0;
		border-width: 0;
		outline: none;

		text-decoration: none;
		color: rgba($primary-color, 0.9);
		line-height: 5rem;
	}

	.button:hover,
	.button:focus,
	.button:visited{
		color: rgba($primary-color, 0.5)
	}

	.button:active{
		color: rgba($primary-color, 0.3)
	}
}

.note{
	display: flex;
	flex-direction: row;

	box-sizing: border-box;
	width: 80%;
	margin: 1rem auto;
	padding: 1rem 0;
	border-radius: $border-radius;
	background-color: rgba($primary-color, 0.2);

	text-align: left;

	.content{
		flex: 1;
		flex-direction: row;

		.hidden{
			display: none !important;
		}

		.display{
			padding: 1rem;
		}

		.edit{
				display: flex;
		}

		input[type="text"]{
			flex: 1;

			margin: 0 1rem;
			padding: 1rem;
			outline: none;
			border: 1px solid $input-background-color;
			border-radius: $border-radius;
			background-color: $input-background-color;

			font-size: $heading3-font-size;
			line-height: $heading3-font-size;
			color: $primary-color;
		}

		.button{
			margin-right: 1rem;
		}
	}

	.icon{
		padding-right: 1rem;
	}
}
