@use './_variables' as *;

.notes-component{
	flex: 1;
	display: block;

	box-sizing: border-box;
	margin: 5rem auto;
}

.notes{
	font-size: 3rem;
	line-height: 3rem;

	.add{

		box-sizing: border-box;
		margin: 0;
		padding: 0;
		border-width: 0;

		font-size: 3rem;
		line-height: 3rem;
		color: $primary-color;
	}

	.add:hover,
	.add:focus{
		color: rgba($primary-color, 0.8)
	}

	.add:active{
		color: rgba($primary-color, 0.6)
	}
}

.note{
	box-sizing: border-box;
	width: 80%;
	margin: 1rem auto;
	padding: 1rem 0;
	border-radius: 1rem;

	background-color: rgba($primary-color, 0.2);
}
